.email-app * {
    background-color: #fffffff8;
    color: #606060;
    letter-spacing: 0.48px;
    font-family: robotoLight, sans-serif;
}

main .email-app {}

.header-app-email {
    background-color: rgba(217, 220, 223, 0.404);
}

.email-menu {
    width: 200px;
    min-width: 200px;
    text-align: left;
}

.email-menu .filter-btn {
    text-align: left;
}

.email-list {
    margin-top: 10px;
    margin-right: 20px;
}

span.compose-logo {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-size: cover;
    background-image: url(../../../../img/icons/create_32dp.png);
}

.search-logo {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: cover;
    padding: 10px;
    margin-right: 5px;
    background-image: url(../../../../img/icons/search_white.png);
}

.sent-logo {
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: cover;
    padding: 10px;
    margin-right: 5px;
    background-image: url(../../../../img/icons/send_black_20dp.png);
}

div.starred {
    display: inline-block
}

.inbox-logo {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-image: url(../../../../img/icons/drafts_black_20dp.png);
}

@media (max-width: 620px) {
    .preview-start span:nth-child(3) {
        /* display: none; */
        max-width: 300px;
    }
}

@media (max-width: 680px) {
    .email-app header *, .email-list {
        margin: 0 auto;
    }
    .email-app header {
        flex-direction: column;
        height: 120px;
    }
    .email-app header * {
        margin-top: 3px;
        margin-bottom: 5px;
    }
    input.input-search {
        margin-top: 20px;
        padding: 20px;
    }
    .compose-btn {
        width: 90px;
    }
    .email-menu {
        flex-direction: row;
        display: flex;
        /* max-width: 660px; */
    }
    .filter-btn {
        padding: 3px;
    }
    .preview-start span:nth-child(3) {
        display: none;
    }
    .preview-start span:nth-child(1) {
        min-width: 10px;
        max-width: 10px;
    }
    .preview-start span:nth-child(2) {
        /* /* background-color: blue; */
        /* min-width: 200px;
        max-width: 200px; */
        flex-grow: 1;
        /* width: 0px;  */
        /* overflow: hidden; */
        /* text-overflow: ellipsis; */
        /* background-color: green; */
    }
    .preview-start span:nth-child(3) {
        /* min-width: calc(100%-200px*3); */
        /* max-width: calc(100%-200px*3); */
        /* flex-grow: 1; */
        /* width: 50px;  */
        /* overflow: hidden; */
        /* text-overflow: ellipsis; */
    }
    .preview-start span:nth-child(4) {
        min-width: 75px;
        max-width: 75px;
    }
    .preview-start span:nth-child(5) {
        min-width: 25px;
        max-width: 25px;
    }
  
}

@media (max-width: 860px) {
    /* .email-app header{
        flex-direction: column;  
    }
    .email-app header *{
        margin-top: 3px;
        margin-bottom: 5px;
    } */
    .email-menu {
        flex-direction: row;
        /* display: none; */
    }
    .email-main {
        flex-direction: column;
     
    }
    .preview-start {
        min-height: 70px;
        max-height: 70px;
    }
    /* .preview-start span:nth-child(3) {
        display: none;
        max-width: 100px;
    } */
    .preview-start span:nth-child(1) {
        min-width: 100px;
        max-width: 100px;
    }
    .preview-start span:nth-child(2) {
        /* /* background-color: blue; */
        /* min-width: 200px;
        max-width: 200px; */
        /* background-color: green; */
    }
    .preview-start span:nth-child(3) {
        /* min-width: calc(100%-200px*3); */
        /* max-width: calc(100%-200px*3); */
        /* flex-grow: 1; */
        /* width: 50px;  */
        /* overflow: hidden; */
        /* text-overflow: ellipsis; */
    }
    .preview-start span:nth-child(4) {
        min-width: 75px;
        max-width: 75px;
    }
    .preview-start span:nth-child(5) {
        min-width: 25px;
        max-width: 25px;
    }
}