

.email-details {
    max-width: 860px;
    margin: 0 auto;
    padding: 20px;
}

.close-btn.fas.fa-arrow-left{
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
    color: rgb(148, 151, 155);
}

.close-btn.fas.fa-arrow-left:hover {
    color: rgb(77, 73, 73);
}
