



.email-compose {
    background-color: white;
    z-index: 1;
    position: fixed;
    bottom: 0;
    right: 3rem;
    width: 450px;
    height: 470px;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.email-compose textarea {
    width: 100%;

    outline: none;
    border: none;
    padding: 1rem;
    font-family: roboto;
}

.email-compose input {
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(199, 199, 199);
    padding-inline-start: 1rem;
    padding-block-start: 0.75rem;
    padding-block-end: 0.75rem;
    width: 100%;
    font-family: roboto;
}


@media (max-width: 520px) {
    .email-compose {
        right: 1vw;
        width: 98vw;
        margin: 0 auto;
        /* width: 400px; */
    }
}