.book-preview {
    background-color: rgba(172, 204, 207, 0.651);
    border-radius: 10px;
}

.book-preview img {
    margin: 0 auto;
    height: 200px;
    margin-top: 15px;
}

.book-preview h3 {
    margin-bottom: 5px;
}

.book-preview p {
    margin-bottom: 5px;
}

