.list-of-search {
    text-align: left;
    height: 20px;
}

.list-of-search button {
    display: inline;
    border-radius: 50%;
}

.book-filter *{
    width: 300px;
    background-color:  rgba(224, 224, 224, 0.589);
    border-radius: 20px;
    border: none;
    padding-left: 20px;
    height: 40px;
}