.input-header {
    border-radius: 12px;
    border: none;
    outline: none;
    color: #626262;
    padding: 0.3125rem;
    font-family: robotoLight;
    margin-top: 0.8rem;
    margin-right: 0.3125rem;
}

.filrets input::placeholder {
    padding-left: 0.3125rem;
}

.filrets select {
    outline: none;
    border: none;
    padding: 0.3125rem;
}

.select-selected {
    border: none;
}

.add-note {
    margin: 0 auto
}

.add-note i {
    cursor: pointer;
    margin-right: 0.3125rem;
    padding: 0.8rem;
}

.add-note i:hover {
    background-color: rgba(137, 142, 148, 0.144);
    border-radius: 50%;
    transition: transform 2s, background-color .5s
}

.add-note input {
    cursor: pointer;
}
