.input-header {
    border-radius: 12px;
    border: none;
    outline: none;
    color: #626262;
    padding: 0.3125rem;
    font-family: robotoLight;
    margin: 0.8rem 0;
    margin-right: 0.3125rem;
}

.filrets input {
    width: 15rem;
}

.filrets input::placeholder {
    padding-left: 0.3125rem;
}

.filrets select {
    outline: none;
    border: none;
    padding: 0.3125rem;
}

.select-selected {
    border: none;
}

.add-note input {
    cursor: pointer;
    width: 15rem;
}

.add-note input::placeholder {
    padding-left: 0.3125rem;
}

.add-note i {
    cursor: pointer;
    padding: 0.45rem;
}

.add-note i:hover {
    background-color: rgba(137, 142, 148, 0.144);
    border-radius: 60%;
    transition: transform 2s, background-color .5s
}


@media (max-width: 860px) {
    .keep-nav {
        flex-direction: column;
    }
    .add-note {
        width: 22rem;
        margin: 0.3rem auto;
    }
    .input-header {
        margin: 0;
    }
    .add-note i {
        cursor: pointer;
        margin-right: 0.1rem;
        padding: 0.15rem;
    }
    .filrets {
        margin: 0 auto 0.3rem;
    }
}
