.note {
    background-color: #bbbbbb;
    border-radius: 12px;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
    text-align: left;
}

.note:hover {
    cursor: pointer;
    box-shadow: -1px 3px 55px -22px rgba(0,0,0,0.75);
    transition: box-shadow 0.5s;
}

.note h4 {
    margin-bottom: 0.3125rem;
}

.note p {
    font-size: 0.8rem;
}

.note i {
    margin-left: 0.5rem;
    font-size: 1rem;
}

.note img {
    width: 14.375rem;
    display: block;
    margin: 0 auto;
}

.note .line-through {
    text-decoration: line-through;
}

.note video {
    width: 15rem;
    display: block;
    margin: 0 auto;
}

.note input {
    border: none;
    outline: none;
    margin: 0 auto;
    background-color: #bbbbbb;
    color: #626262;
    font-family: robotoLight;
}

.todo {
    height: 1.5rem;
}

.todo span {
    right: 0;
}

.black {
    color: black;
}   

@media (max-width: 720px) {
    .note {
        width: 90%;
        margin: 0 auto 0.8rem auto;
    }
    .note img {
        width: 14rem;
    }
    .todo span {
        padding-right: 0.4rem
    }
}
